# Arquivos e pastas gerados por compilação em C
*.o
*.out
*.exe
*.obj
*.gch

# Arquivos temporários e de backup
*~
*.swp
*.bak

# __pycache__ e arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Logs e arquivos temporários
*.log
*.tmp

# Pastas ocultas e de sistema
.DS_Store
Thumbs.db
